/* CSS declarations go here */
body {
	font-family: futura, sans-serif;
}
ul {
	list-style: none;
	margin-top: 40px;
}

.item {  
  display: block;
  padding: 5px;
  margin: 10px;
  background-color: #3cc;
  width: 200px;
  cursor: move;
  text-align: center;
  color: white;
}